@{
    Layout = null;
}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/css/iframestyle.css">
</head>
<body>
    <iframe src="~/widget.html"class="quiz-frame">
    </iframe>
</body>
</html>





