.card
a:link,
a:visited,
a:hover,
a:active {
	color: rgba(0, 0, 16, 0.8);
	text-decoration: none;
}

.card
a:hover,
a:active {
	border-bottom: 0.1em solid rgba(0, 0, 16, 0.8);
	color: rgba(0, 0, 16, 0.8);
	text-decoration: none;
}

.card span {
	color: rgba(0, 0, 16, 0.4);
	font-size: 70%;
}

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	padding: 0.8rem;
	width: 90%;
	display: block;
	font-family: sans-serif;
	color: rgba(0, 0, 16, 0.8);
	font-weight: 600;
}

.card .rating-text p {
	color: rgba(0, 0, 16, 0.8);
	font-size: 1.3rem;
	padding: 0.3rem;
}

.card .rating {
	background-color: rgba(0, 0, 16, 0.8);
	border-radius: 2.2rem;
}

.card svg {
	fill: rgb(242, 242, 242);
	height: 40px;
	width: 40px;
	margin: 0.1rem;
}

.card #radios label {
	position: relative;
}

.card input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.card input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.card input + svg {
	cursor: pointer;
}

.card input[class="yes"]:hover + svg,
input[class="yes"]:checked + svg,
input[class="yes"]:focus + svg {
	fill: rgb(0, 214, 20);
}

.card input[class="no"]:hover + svg,
input[class="no"]:checked + svg,
input[class="no"]:focus + svg {
	fill: rgb(255, 20, 0);
}

.card input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
	fill: rgb(0, 255, 255);
}

.card input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
	fill: rgb(0, 255, 49);
}

.card input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
	fill: rgb(255, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
	fill: rgb(255, 153, 0);
}

.card input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
	fill: rgb(239, 42, 16);
}

.card textarea {
   border: 0px solid #cccccc; 
   border-radius: 3px;
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px; 
   -khtml-border-radius: 3px; 
   background: rgba(0, 0, 16, 0) !important; 
   outline: none; 
   width: 80%;
   color: #fff; 
   font-size: 11px;
   font-family: Tahoma; 
   resize: none;
}
